body,
html,
#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
}

html,
body,
textarea {
  color: white;
  background-color: #212121;
}
textarea {
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
