body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: inherit;
}

html,
body,
textarea {
  color: white;
  background-color: #212121;
}

body {
  padding: 12px 24px;
}

textarea {
  outline: none;
}
